{% extends "layout.html" %} {% block body %}

<html>

<head>
    <title>Angular 7 Tutorial | Angular 7 Tutorial - E-Learning</title>
    <link href="{{url_for('static', filename='ContentAsset/new.css')}}" rel="stylesheet">
</head>


<body>
<br>
<br>

        <div class="onlycontentinner">
    <div id="city">
        <table>
            <tr>
                <td>
                    <br>
                    <br>

                    <h1 class="h1">Angular 7 Tutorial</h1>
                    <img src="https://static.javatpoint.com/tutorial/angular7/images/angular-7-logo.png"
                        style="float:right;padding-left:15px" alt="Angular 7" />
                    <p>Angular 7 tutorial provides basic and advanced concepts of Angular 7. Our Angular
                        7 Tutorial is designed for beginners and professionals both.</p>
                    <p>Angular is a JavaScript framework which makes you able to create reactive
                        <strong>Single Page Applications</strong> (SPAs). This is a leading front-end
                        development framework which is regularly updated by Angular team of Google.
                        Angular 7 is completely based on components. It consists of several components
                        forming a tree structure with parent and child components.
                    </p>
                    <p>In this tutorial, you will learn how to prepare your development environment to
                        start building your amazing modern websites with the cutting-edge framework
                        Angular 7. This tutorial includes Angular 7 introduction and features, Angular 7
                        components, Angular 7 directives, databinding, event binding, property binding,
                        modules, templates, pipes, services, routing etc.</p>
                    <hr />

                    <h2 class="h2">Prerequisite</h2>
                    <p>Before learning Angular 7 in depth, you must have the basic knowledge of
                        AngularJS, Visual Studio Code IDE, concepts of any server-side programming
                        language and JavaScript.</p>
                    <h2 class="h2">Audience</h2>
                    <p>We have developed this Angular 7 tutorial for beginners and professionals both.
                    </p>
                    <h2 class="h2">Problems</h2>
                    <p>We assure you that you will not find any problem in our Angular 7 tutorial. But,
                        if you find any mistake, you can post it in our comment section.</p>

                    <hr />
                    <!-- link -->
                    <br /><br />
                </td>
            </tr>
        </table>
    </div>
        </div>

        <div class="onlycontentinner">
    <div id="city">
        <table>
            <tr>
                <td>

                    <h1 class="h1">Angular Features</h1>
                    <p>A list of most important features and benefits of Angular:</p>
                    <h2 class="h2">Angular supports multiple platforms </h2>
                    <p>Angular is a cross platform language. It supports multiple platforms. You can
                        build different types of apps by using Angular. </p>
                    <ol class="points">
                        <li><strong>Desktop applications:</strong> Angular facilitates you to create
                            desktop installed apps on different types of operating systems i.e. Windows,
                            Mac or Linux by using the same Angular methods which we use for creating web
                            and native apps. </li>
                        <li><strong>Native applications:</strong> You can built native apps by using
                            Angular with strategies from Cordova, Ionic, or NativeScript. </li>
                        <li><strong>Progressive web applications:</strong> Progressive web applications
                            are the most common apps which are built with Angular. Angular provides
                            modern web platform capabilities to deliver high performance, offline, and
                            zero-step installation apps.</li>
                    </ol>
                    <h2 class="h2">High Speed, Ultimate Performance </h2>
                    <p>Angular is amazingly fast and provides a great performance due to the following
                        reasons: </p>
                    <ol class="points">
                        <li><strong>Universal support:</strong> Angular can be used as a front-end web
                            development tool for the programming languages like Node.js, .Net, PHP, Java
                            Struts and Spring and other servers for near-instant rendering in just HTML
                            and CSS. It also optimizes the website for better SEO. </li>
                        <li><strong>Code splitting:</strong> Angular apps are fast and loads quickly
                            with the new Component Router, which delivers automatic code-splitting so
                            users only load code required to render the view they request. </li>
                        <li><strong>Code generation:</strong> Angular makes your templates in highly
                            optimized code for today?s JavaScript virtual machines which gives the
                            benefits of hand-written code.</li>
                    </ol>
                    <h2 class="h2">Productivity </h2>
                    <p>Angular provides a better productivity due to its simple and powerful template
                        syntax, command line tools and popular editors and IDEs. </p>
                    <ol class="points">
                        <li><strong>Powerful templates:</strong> Angular provides simple and powerful
                            template syntax to create UI view quickly. </li>
                        <li><strong>IDEs:</strong> Angular provides intelligent code completion, instant
                            errors, and other feedback in popular editors and IDEs. </li>
                        <li><strong>Angular CLI:</strong> Angular CLI provides command line tools start
                            building fast, add components and tests, and then instantly deploy.</li>
                    </ol>
                    <h2 class="h2">Full Stack Development</h2>
                    <p>Angular is a complete framework of JavaScript. It provides Testing, animation and
                        Accessibility. It provides full stack development along with Node.js,
                        Express.js, and MongoDB.</p>
                    <ol class="points">
                        <li><strong>Testing:</strong> Angular provides Karma and Jasmine for unit
                            testing. B y using it, you can check your broken things every time you save.
                            Karma is a JavaScript test runner tool created by Angular team. Jasmine is
                            the testing framework form unit testing in Angular apps, and Karma provides
                            helpful tools that make it easier to us to call our Jasmine tests whilst we
                            are writing code.</li>
                        <li><strong>Animation Support:</strong> Angular facilitates you to create
                            high-performance, complex choreographies and animation timelines with very
                            little code through Angular's intuitive API.</li>
                        <li><strong>Accessibility:</strong> In Angular, you can create accessible
                            applications with ARIA-enabled components, developer guides, and built-in
                            a11y test infrastructure.</li>
                    </ol>
                    <hr />
                    <!-- link -->

                    <br /><br />
                </td>
            </tr>
        </table>
    </div>
        </div>


        <div class="onlycontentinner">
        <div id="city">
            <table>
                <tr>
                    <td>
    
                        <h1 class="h1">How to install Angular 7?</h1>
                        <h2 class="h2">Angular 7 Environment Setup</h2>
                        <p>In this page, you will see how you can install the prerequisites needed to run
                            your first Angular 7 app.</p>
                        <h2 class="h2">Install Visual Studio Code IDE or JetBrains WebStorm</h2>
                        <p>You must have an IDE like Visual Studio Code IDE or JetBrains WebStorm to run
                            your Angular 7 app.</p>
                        <p>VS Code is light and easy to setup, it has a great range of built-in code
                            editing, formatting, and refactoring features. It is free to use. It also
                            provides a huge number of extensions that will significantly increase your
                            productivity.</p>
                        <p>You can download VS Code from here: <a class="bold" rel="nofollow" target="_blank"
                                href="https://code.visualstudio.com">https://code.visualstudio.com</a></strong>
                        </p>
                        <p>JetBrains WebStorm is also a great IDE to develop Angular 7 apps. It is fast,
                            attractive, and very easy to use software but, it is not free to use. You have
                            to purchase it later, it only provides a trial period of 30 days for free.</p>
                        <p>You can download VS Code from here: <a class="bold" rel="nofollow" target="_blank"
                                href="https://www.jetbrains.com/webstorm/download/#section=windows">https://www.jetbrains.com/webstorm/download/#section=windows</a>
                        </p>
                        <p>We are using JetBrains WebStorm in this tutorial.</p>
                        <h2 class="h2">Install Node.js</h2>
                        <p>You should install node.js to run your Angular 7 app. It manages npm dependencies
                            support some browsers when loading particular pages. It provides required
                            libraries to run Angular project. Node.js serves your run-time environment as
                            your localhost.</p>
                        <p>See how to install node.js: <a class="bold" href="install-nodejs">install-nodejs</a></p>
                        <p>Or</p>
                        <p>Just go to node.js official website <a class="bold" rel="nofollow" target="_blank"
                                href="https://nodejs.org/en/">https://nodejs.org/en/</a></p>
                        <p>Download and install latest version of node.js. In my case, it is 11.8.0</p>
                        <img src="https://static.javatpoint.com/tutorial/angular7/images/angular7-installation.png"
                            alt="How to install Angular 7" />
                        <p>After the successful installation, you will see command prompt like this:</p>
                        <img src="https://static.javatpoint.com/tutorial/angular7/images/angular7-installation1.png"
                            alt="How to install Angular 7" />
                        <h2 class="h2">Use npm to install Angular CLI</h2>
                        <p>Run the Angular CLI command to install Angular CLI</p>
                        <div class="codeblock"><textarea name="code" class="xml">
    npm install -g @angular/cli
    </textarea></div>
                        <img src="https://static.javatpoint.com/tutorial/angular7/images/angular7-installation2.png"
                            alt="How to install Angular 7" />
                        <p><strong>or</strong></p>
                        <p>Just go to Angular CLI official website <a class="bold" rel="nofollow" target="_blank"
                                href="https://cli.angular.io/">https://cli.angular.io/</a>
                        </p>
                        <p>You will see the whole cli command to create an Angular app. You need to run the
                            first command to install Angular CLI. These steps are same for Windows and Mac.
                        </p>
                        <img src="https://static.javatpoint.com/tutorial/angular7/images/angular7-installation3.png"
                            alt="How to install Angular 7" />
                        <div class="codeblock"><textarea name="code" class="xml">
    npm install -g @angular/cli
    ng new my-dream-app
    cd my-dream-app
    ng serve
    </textarea></div>
                        <p>Your Angular 7 Environment setup is complete now. </p>
    
                        <hr />
                        <!-- link -->
                        <br /><br />
                    </td>
                </tr>
            </table>
        </div>
        </div>

        <div class="onlycontentinner">
            <div id="city">
                <table>
                    <tr>
                        <td>
        
                            <h1 class="h1">Angular 7 Project Setup (Create first app)</h1>
                            <p>Following are the Angular CLI commands to create the first Angular app. </p>
                            <div class="codeblock"><textarea name="code" class="xml">
        npm install -g @angular/cli
        ng new my-dream-app
        cd my-dream-app
        ng serve
        </textarea></div>
                            <p>Run the following command to create your first Angular app.</p>
                            <div class="codeblock"><textarea name="code" class="xml">
        ng new my-first-app
        </textarea></div>
                            <img src="https://static.javatpoint.com/tutorial/angular7/images/angular7-first-app.png"
                                alt="Angular 7 Project Setup (Create first app)" />
                            <p>Navigate to your first app.</p>
                            <div class="codeblock"><textarea name="code" class="xml">
        cd my-first-app
        </textarea></div>
                            <p>Start your server to run app.</p>
                            <div class="codeblock"><textarea name="code" class="xml">
        ng serve
        </textarea></div>
                            <img src="https://static.javatpoint.com/tutorial/angular7/images/angular7-first-app1.png"
                                alt="Angular 7 Project Setup (Create first app)" />
                            <p>Your server is running on localhost:4200. Now, go to the browser and open it.</p>
                            <img src="https://static.javatpoint.com/tutorial/angular7/images/angular7-first-app2.png"
                                alt="Angular 7 Project Setup (Create first app)" />
                            <p>Now, you need an IDE to edit and run your app's code. Here, we are using
                                WebStorm.</p>
                            <p>Open WebStorm and open your app "my-first-app" in the IDE. It will look like
                                this:</p>
                            <img src="https://static.javatpoint.com/tutorial/angular7/images/angular7-first-app3.png"
                                alt="Angular 7 Project Setup (Create first app)" />
                            <p>Here, go to src folder, you will see app folder there. Expand the app folder.
                            </p>
                            <img src="https://static.javatpoint.com/tutorial/angular7/images/angular7-first-app4.png"
                                alt="Angular 7 Project Setup (Create first app)" />
                            <p><strong>You will see 5 components there:</strong></p>
                            <ul class="points">
                                <li>app.component.css</li>
                                <li>app.component.html </li>
                                <li>app.component.spec.ts</li>
                                <li>app.component.ts</li>
                                <li>app.module.ts</li>
                            </ul>
                            <p>You can see the code within the different components to understand what is going
                                on and which part is responsible for the outlook of the app.</P>
                            <p><strong>app.component.css</strong></p>
                            <p>This part is empty because we don't specify any CSS here.</p>
                            <img src="https://static.javatpoint.com/tutorial/angular7/images/angular7-first-app5.png"
                                alt="Angular 7 Project Setup (Create first app)" />
                            <p><strong>app.component.html </strong></p>
                            <p>This is the most important component, the front page of your app. Here, you can
                                change the salutation used before your app's name. You can also change the
                                content on the front page and their respective links.</p>
                            <img src="https://static.javatpoint.com/tutorial/angular7/images/angular7-first-app6.png"
                                alt="Angular 7 Project Setup (Create first app)" />
                            <p><strong>Code:</strong></p>
                            <div class="codeblock"><textarea name="code" class="xml">
        &lt;div style="text-align:center"&gt;
          &lt;h1&gt;
            Welcome to {{ title }}!
          &lt;/h1&gt;
          &lt;img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="&gt;
        &lt;/div&gt;
        &lt;h2&gt;Here are some links to help you start: &lt;/h2&gt;
        &lt;ul&gt;
          &lt;li&gt;
            &lt;h2&gt;&lt;a target="_blank" rel="noopener" href="https://angular.io/tutorial"&gt;Tour of Heroes&lt;/a&gt;&lt;/h2&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;h2&gt;&lt;a target="_blank" rel="noopener" href="https://angular.io/cli"&gt;CLI Documentation&lt;/a&gt;&lt;/h2&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;h2&gt;&lt;a target="_blank" rel="noopener" href="https://blog.angular.io/"&gt;Angular blog&lt;/a&gt;&lt;/h2&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
        </textarea></div>
                            <p><strong>app.component.spec.ts:</strong></p>
                            <p>This file is used for testing purpose only. </p>
                            <div class="codeblock"><textarea name="code" class="xml">
        import { TestBed, async } from '@angular/core/testing';
        import { AppComponent } from './app.component';
        
        describe('AppComponent', () =&gt; {
          beforeEach(async(() =&gt; {
            TestBed.configureTestingModule({
              declarations: [
                AppComponent
              ],
            }).compileComponents();
          }));
        
          it('should create the app', () =&gt; {
            const fixture = TestBed.createComponent(AppComponent);
            const app = fixture.debugElement.componentInstance;
            expect(app).toBeTruthy();
          });
        
          it(`should have as title 'my-first-app'`, () =&gt; {
            const fixture = TestBed.createComponent(AppComponent);
            const app = fixture.debugElement.componentInstance;
            expect(app.title).toEqual('my-first-app');
          });
        
          it('should render title in a h1 tag', () =&gt; {
            const fixture = TestBed.createComponent(AppComponent);
            fixture.detectChanges();
            const compiled = fixture.debugElement.nativeElement;
            expect(compiled.querySelector('h1').textContent).toContain('Welcome to my-first-app!');
          });
        });
        </textarea></div>
                            <p><strong>app.component.ts </strong></p>
                            <p>You can change the name of your app here. You just have to change the title.</p>
                            <div class="codeblock"><textarea name="code" class="xml">
        import { Component } from '@angular/core';
        
        @Component({
          selector: 'app-root',
          templateUrl: './app.component.html',
          styleUrls: ['./app.component.css']
        })
        export class AppComponent {
          title = 'my-first-app';
        }
        </textarea></div>
                            <p><strong>app.module.ts</strong></p>
                            <div class="codeblock"><textarea name="code" class="xml">
        import { BrowserModule } from '@angular/platform-browser';
        import { NgModule } from '@angular/core';
        
        import { AppComponent } from './app.component';
        
        @NgModule({
          declarations: [
            AppComponent
          ],
          imports: [
            BrowserModule
          ],
          providers: [],
          bootstrap: [AppComponent]
        })
        export class AppModule { }
        </textarea></div>
        
                            <hr />
                            <!-- link -->
                            <br /><br />
        <div id="bottomnextup">
            <a class="next" href="cpp-history">next &rarr;</a>
            <a class="next" href="cpp-tutorial">&larr; prev</a>
        </div>
        
                            <br /><br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>





</body>

</html>
{% endblock %}