{% extends "layout.html" %} {% block body %}

<html>

<head>
    <title>AWS Tutorial | Amazon Web Services Tutorial - E-Learning</title>
    <link href="{{url_for('static', filename='ContentAsset/new.css')}}" rel="stylesheet">
</head>


<body>
<br>
<br>

    <div class="onlycontentinner">
        <div class="onlycontentinner">
            <div id="city">
                <table>
                    <tr>
                        <td>
                            <br>
                            <br>
                            <h1 class="h1">AWS Tutorial</h1>
                            <img src="https://static.javatpoint.com/tutorial/aws/images/aws.png" alt="AWS Tutorial"
                                style="float:right;padding-left:15px" />

                            <p>AWS tutorial provides basic and advanced concepts. Our AWS tutorial is designed for
                                beginners and professionals.</p>
                            <p>AWS stands for Amazon Web Services which uses distributed IT infrastructure to provide
                                different IT resources on demand.</p>
                            <p>Our AWS tutorial includes all the topics such as introduction, history of aws, global
                                infrastructure, features of aws, IAM, Storage services, Database services, etc.</p>

                            <h2 class="h2">What is AWS?</h2>
                            <ul class="points">
                                <li>AWS stands for <strong>Amazon Web Services</strong>.</li>
                                <li>The AWS service is provided by the Amazon that uses distributed IT infrastructure to
                                    provide different IT resources available on demand. It provides different services
                                    such as infrastructure as a service (IaaS), platform
                                    as a service (PaaS) and packaged software as a service (SaaS).</li>
                                <li>Amazon launched AWS, a cloud computing platform to allow the different organizations
                                    to take advantage of reliable IT infrastructure.</li>
                            </ul>
                            <h2 class="h2">Uses of AWS</h2>
                            <ul class="points">
                                <li>A small manufacturing organization uses their expertise to expand their business by
                                    leaving their IT management to the AWS.</li>
                                <li>A large enterprise spread across the globe can utilize the AWS to deliver the
                                    training to the distributed workforce.</li>
                                <li>An architecture consulting company can use AWS to get the high-compute rendering of
                                    construction prototype.</li>
                                <li>A media company can use the AWS to provide different types of content such as ebox
                                    or audio files to the worldwide files.</li>
                            </ul>
                            <h2 class="h2">Pay-As-You-Go</h2>
                            <p>Based on the concept of Pay-As-You-Go, AWS provides the services to the customers.</p>
                            <p>AWS provides services to customers when required without any prior commitment or upfront
                                investment. Pay-As-You-Go enables the customers to procure services from AWS.</p>
                            <ul class="points">
                                <li>Computing</li>
                                <li>Programming models </li>
                                <li>Database storage</li>
                                <li>Networking</li>
                            </ul>
                            <img src="https://static.javatpoint.com/tutorial/aws/images/aws-introduction.png"
                                alt="AWS" />
                            <h2 class="h2">Advantages of AWS</h2>
                            <h3 class="h4">1) Flexibility</h3>
                            <ul class="points">
                                <li>We can get more time for core business tasks due to the instant availability of new
                                    features and services in AWS.</li>
                                <li>It provides effortless hosting of legacy applications. AWS does not require learning
                                    new technologies and migration of applications to the AWS provides the advanced
                                    computing and efficient storage.</li>
                                <li>AWS also offers a choice that whether we want to run the applications and services
                                    together or not. We can also choose to run a part of the IT infrastructure in AWS
                                    and the remaining part in data centres.</li>
                            </ul>
                            <h3 class="h4">2) Cost-effectiveness</h3>
                            <p>AWS requires no upfront investment, long-term commitment, and minimum expense when
                                compared to traditional IT infrastructure that requires a huge investment.</p>
                            <h3 class="h4">3) Scalability/Elasticity</h3>
                            <p>Through AWS, autoscaling and elastic load balancing techniques are automatically scaled
                                up or down, when demand increases or decreases respectively. AWS techniques are ideal
                                for handling unpredictable or very high loads. Due
                                to this reason, organizations enjoy the benefits of reduced cost and increased user
                                satisfaction.</p>
                            <h3 class="h4">4) Security</h3>
                            <ul class="points">
                                <li>AWS provides end-to-end security and privacy to customers.</li>
                                <li>AWS has a virtual infrastructure that offers optimum availability while managing
                                    full privacy and isolation of their operations.</li>
                                <li>Customers can expect high-level of physical security because of Amazon's several
                                    years of experience in designing, developing and maintaining large-scale IT
                                    operation centers.</li>
                                <li>AWS ensures the three aspects of security, i.e., Confidentiality, integrity, and
                                    availability of user's data.</li>
                            </ul>

                            <hr />

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="onlycontentinner">
        <div id="city">
            <table>
                <tr>
                    <td>
                        <h1 class="h1">Features of AWS</h1>
                        <img src="https://static.javatpoint.com/tutorial/aws/images/features-of-aws.png"
                            class="imageright" alt="Features of AWS" />
                        <p>The following are the features of AWS:</p>
                        <ul class="points">
                            <li>Flexibility</li>
                            <li>Cost-effective</li>
                            <li>Scalable and elastic</li>
                            <li>Secure</li>
                            <li>Experienced</li>
                        </ul>
                        <hr />
                        <h2 class="h2">1) Flexibility</h2>
                        <ul class="points">
                            <li>The difference between AWS and traditional IT models is
                                <strong>flexibility</strong>.
                            </li>
                            <li>The traditional models used to deliver IT solutions that require large
                                investments in a new architecture, programming languages, and operating
                                system. Although these investments are valuable, it takes time to adopt new
                                technologies and can also slow down your business.</li>
                            <li>The flexibility of AWS allows us to choose which programming models,
                                languages, and operating systems are better suited for their project, so we
                                do not have to learn new skills to adopt new technologies. </li>
                            <li>Flexibility means that migrating legacy applications to the cloud is easy,
                                and cost-effective. Instead of re-writing the applications to adopt new
                                technologies, you just need to move the applications to the cloud and tap
                                into advanced computing capabilities. </li>
                            <li>Building applications in aws are like building applications using existing
                                hardware resources.</li>
                            <li>The larger organizations run in a hybrid mode, i.e., some pieces of the
                                application run in their data center, and other portions of the application
                                run in the cloud.</li>
                            <li>The flexibility of aws is a great asset for organizations to deliver the
                                product with updated technology in time, and overall enhancing the
                                productivity.</li>
                        </ul>

                        <h2 class="h2">2) Cost-effective</h2>
                        <ul class="points">
                            <li>Cost is one of the most important factors that need to be considered in
                                delivering IT solutions.</li>
                            <li>For example, developing and deploying an application can incur a low cost,
                                but after successful deployment, there is a need for hardware and bandwidth.
                                Owing our own infrastructure can incur considerable costs, such as power,
                                cooling, real estate, and staff.</li>
                            <li>The cloud provides on-demand IT infrastructure that lets you consume the
                                resources what you actually need. In aws, you are not limited to a set
                                amount of resources such as storage, bandwidth or computing resources as it
                                is very difficult to predict the requirements of every resource. Therefore,
                                we can say that the cloud provides flexibility by maintaining the right
                                balance of resources.</li>
                            <li>AWS provides no upfront investment, long-term commitment, or minimum spend.
                            </li>
                            <li>You can scale up or scale down as the demand for resources increases or
                                decreases respectively.</li>
                            <li>An aws allows you to access the resources more instantly. It has the ability
                                to respond the changes more quickly, and no matter whether the changes are
                                large or small, means that we can take new opportunities to meet the
                                business challenges that could increase the revenue, and reduce the cost.
                            </li>
                        </ul>

                        <h2 class="h2">3) Scalable and elastic</h2>
                        <ul class="points">
                            <li>In a traditional IT organization, scalability and elasticity were calculated
                                with investment and infrastructure while in a cloud, scalability and
                                elasticity provide savings and improved ROI (Return On Investment).</li>
                            <li>Scalability in aws has the ability to scale the computing resources up or
                                down when demand increases or decreases respectively.</li>
                            <li>Elasticity in aws is defined as the distribution of incoming application
                                traffic across multiple targets such as Amazon EC2 instances, containers, IP
                                addresses, and Lambda functions.</li>
                            <li>Elasticity load balancing and scalability automatically scale your AWS
                                computing resources to meet unexpected demand and scale down automatically
                                when demand decreases.</li>
                            <li>The aws cloud is also useful for implementing short-term jobs,
                                mission-critical jobs, and the jobs repeated at the regular intervals.</li>
                        </ul>

                        <h2 class="h2">4) Secure</h2>
                        <ul class="points">
                            <li>AWS provides a scalable cloud-computing platform that provides customers
                                with end-to-end security and end-to-end privacy.</li>
                            <li>AWS incorporates the security into its services, and documents to describe
                                how to use the security features.</li>
                            <li>AWS maintains confidentiality, integrity, and availability of your data
                                which is the utmost importance of the aws.</li>
                        </ul>
                        <p><strong>Physical security:</strong> Amazon has many years of experience in
                            designing, constructing, and operating large-scale data centers. An aws
                            infrastructure is incorporated in AWS controlled data centers throughout the
                            world. The data centers are physically secured to prevent unauthorized access.
                        </p>
                        <p><strong>Secure services:</strong> Each service provided by the AWS cloud is
                            secure.</p>
                        <p><strong>Data privacy:</strong> A personal and business data can be encrypted to
                            maintain data privacy.</p>

                        <h2 class="h2">5) Experienced</h2>
                        <ul class="points">
                            <li>The AWS cloud provides levels of scale, security, reliability, and privacy.
                            </li>
                            <li>AWS has built an infrastructure based on lessons learned from over sixteen
                                years of experience managing the multi-billion dollar Amazon.com business.
                            </li>
                            <li>Amazon continues to benefit its customers by enhancing their infrastructure
                                capabilities.</li>
                            <li>Nowadays, Amazon has become a global web platform that serves millions of
                                customers, and AWS has been evolved since 2006, serving hundreds of
                                thousands of customers worldwide.</li>
                        </ul>

                        <hr / <br /><br />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="onlycontentinner">
        <div id="city">
            <table>
                <tr>
                    <td>
                        <h1 class="h1">AWS Free Tier</h1>
                        <p><strong>How to SignUp to the AWS platform</strong></p>
                        <ul class="points">
                            <li>Firstly visit the website <a href="https://aws.amazon.com/" rel="nofollow"
                                    target="_blank">https://aws.amazon.com.</a></li>
                            <li>The following screen appears after opening the website, then click on the
                                <strong>Complete Sign Up</strong> to create an account and fill the required
                                details.
                            </li>
                        </ul>
                        <img src="https://static.javatpoint.com/tutorial/aws/images/aws-free-tier.png"
                            alt="AWS Free Tier" /><br>
                        <ul class="points">
                            <li>The following screen appears after clicking on the <strong>"Complete Sign
                                    Up"</strong> button. If you are an already existing user of an AWS
                                account, then enter the email address of your AWS account otherwise
                                <strong>"create an aws account"</strong>.
                            </li>
                            <li>On clicking on the <strong>"create an aws account"</strong> button, the
                                following screen appears that requires some fields to be filled by the user.
                            </li>
                        </ul>
                        <img src="https://static.javatpoint.com/tutorial/aws/images/aws-free-tier2.png"
                            alt="AWS Free Tier" /><br>
                        <ul class="points">
                            <li>Now, fill your contact information.</li>
                        </ul>
                        <img src="https://static.javatpoint.com/tutorial/aws/images/aws-free-tier3.png"
                            alt="AWS Free Tier" /><br>
                        <ul class="points">
                            <li>After providing the contact information, fill your payment information.</li>
                        </ul>
                        <img src="https://static.javatpoint.com/tutorial/aws/images/aws-free-tier4.png"
                            alt="AWS Free Tier" /><br>
                        <ul class="points">
                            <li>After providing your payment information, confirm your identity by entering
                                your phone number and security check code, and then click on the "Contact
                                me" button.</li>
                        </ul>
                        <img src="https://static.javatpoint.com/tutorial/aws/images/aws-free-tier5.png"
                            alt="AWS Free Tier" /><br>
                        <ul class="points">
                            <li>AWS will contact you to verify whether the provided contact number is
                                correct or not.</li>
                        </ul>
                        <img src="https://static.javatpoint.com/tutorial/aws/images/aws-free-tier6.png"
                            alt="AWS Free Tier" /><br>
                        <ul class="points">
                            <li>When number is verified, then the following message appears on the screen.
                            </li>
                        </ul>
                        <img src="https://static.javatpoint.com/tutorial/aws/images/aws-free-tier7.png"
                            alt="AWS Free Tier" /><br>
                        <ul class="points">
                            <li>The final step is the confirmation step. Click on the link to log in again;
                                it redirects you to the <strong>"Management Console"</strong>.</li>
                        </ul>
                        <h2 class="h2">AWS Account Identifiers</h2>
                        <p><strong>AWS assigns two types of unique ID to each user's account:</strong></p>
                        <ul class="points">
                            <li>An AWS account ID</li>
                            <li>A canonical user ID</li>
                        </ul>
                        <img src="https://static.javatpoint.com/tutorial/aws/images/aws-free-tier8.png"
                            alt="AWS Free Tier" />
                        <h3 class="h3">AWS account ID</h3>
                        <p>AWS account ID is a 12-digit number such as 123456780123 which can be used to
                            construct <strong>Amazon Resource Names (ARNs)</strong>. Suppose we refer to
                            resources such as an IAM user, the AWS account ID distinguishes the resources
                            from resources in other AWS accounts. </p>
                        <p><strong>Finding the AWS account ID</strong></p>
                        <p>We can find the AWS account ID from AWS Management Console. The following steps
                            are taken to view your account ID:</p>
                        <ul class="points">
                            <li>Login to the aws account by entering your email address and password, and
                                then you will move to the management console.</li>
                        </ul>
                        <img src="https://static.javatpoint.com/tutorial/aws/images/aws-free-tier9.png"
                            alt="AWS Free Tier" /><br>
                        <ul class="points">
                            <li>Now, click on the account name, a dropdown menu appears.</li>
                        </ul>
                        <img src="https://static.javatpoint.com/tutorial/aws/images/aws-free-tier10.png"
                            alt="AWS Free Tier" /><br>
                        <ul class="points">
                            <li>Click on <strong>"My Account"</strong> in the dropdown menu of account name
                                to view your <strong>account ID</strong>.</li>
                        </ul>
                        <img src="https://static.javatpoint.com/tutorial/aws/images/aws-free-tier11.png"
                            alt="AWS Free Tier" /><br>
                        <h3 class="h3">Canonical User ID</h3>
                        <ul class="points">
                            <li>A Canonical user ID is 64-digit hexadecimal encoded a 256-bit number.</li>
                            <li>A canonical user ID is used in an Amazon S3 bucket policy for cross-account
                                access means that AWS account can access the resources in another AWS
                                account. For example, if you want AWS account access to your bucket, you
                                need to specify the canonical user ID to your bucket's policy. </li>
                        </ul>
                        <p><strong>Finding the canonical user ID</strong></p>
                        <ul class="points">
                            <li><strong>Firstly, visit the website</strong> <a href="https://aws.amazon.com/"
                                    rel="nofollow" target="_blank">https://aws.amazon.com</a>, and log in to the aws
                                account by entering your email address and password.</li>
                            <li>From the right side of the management console, click on the account name.
                            </li>
                        </ul>
                        <img src="https://static.javatpoint.com/tutorial/aws/images/aws-free-tier12.png"
                            alt="AWS Free Tier" /><br>
                        <ul class="points">
                            <li>Click on the <strong>"My Security Credentials"</strong> from the dropdown
                                menu of the account name. The screen appears which is shown below:</li>
                        </ul>
                        <img src="https://static.javatpoint.com/tutorial/aws/images/aws-free-tier13.png"
                            alt="AWS Free Tier" /><br>
                        <li>Click on the Account identifiers to view the Canonical user ID.</li>
                        </ul>
                        <img src="https://static.javatpoint.com/tutorial/aws/images/aws-free-tier14.png"
                            alt="AWS Free Tier" />

                        <hr />
                        <!-- link -->
                        <br /><br />

                    <div id="bottomnextup">
                        <a class="next" href="cpp-history">next &rarr;</a>
                        <a class="next" href="cpp-tutorial">&larr; prev</a>
                    </div>

                        <br /><br />
                    </td>
                </tr>
            </table>
        </div>
    </div>


</body>

</html>
{% endblock %}