{% extends "layout.html" %} {% block body %}

<html>

<head>
    <title>Block-Chain Tutorial | Block-Chain Tutorial - E-Learning</title>
    <link href="{{url_for('static', filename='ContentAsset/new.css')}}" rel="stylesheet">
</head>


<body>
<br>
<br>

<div class="onlycontentinner">
    <div id="city">
        <table>
            <tr>
                <td>
                    <br>
                    <br>
                    <h1 class="h1">Blockchain Tutorial</h1>
                    <img src="https://static.javatpoint.com/tutorial/blockchain/images/blockchain-tutorial.png"
                        alt="Blockchain Tutorial" style="float:right;padding-left:15px" />

                    <p>Blockchain Tutorial provides basic and advanced concepts of blockchain.
                        Blockchain is a constantly growing <strong>ledger</strong> that keeps a
                        <strong>permanent</strong> record of all the transactions that have taken place
                        in a <strong>secure</strong>, <strong>chronological</strong>, and
                        <strong>immutable</strong> way. It can be used for the secure transfer of money,
                        property, contracts, etc. without requiring a third-party intermediary such as
                        bank or government. Blockchain is a software protocol, but it could not be run
                        without the Internet (like SMTP is for email).
                    </p>

                    <h2 class="h2">What is Blockchain?</h2>
                    <p>A blockchain is a constantly growing ledger which keeps a permanent record of all
                        the transactions that have taken place in a secure, chronological, and immutable
                        way.</p>
                    <p>Let's breakdown the definition,</p>
                    <ul class="points">
                        <li><strong>Ledger:</strong> It is a file that is constantly growing.</li>
                        <li><strong>Permanent:</strong> It means once the transaction goes inside a
                            blockchain, you can put up it permanently in the ledger.</li>
                        <li><strong>Secure:</strong> Blockchain placed information in a secure way. It
                            uses very advanced cryptography to make sure that the information is locked
                            inside the blockchain.</li>
                        <li><strong>Chronological:</strong> Chronological means every transaction
                            happens after the previous one.</li>
                        <li><strong>Immutable:</strong> It means as you build all the transaction onto
                            the blockchain, this ledger can never be changed.</li>
                    </ul>
                    <p>A blockchain is a chain of blocks which contain information. Each block records
                        all of the recent transactions, and once completed goes into the blockchain as a
                        permanent database. Each time a block gets completed, a new block is generated.
                    </p>
                    <img src="https://static.javatpoint.com/tutorial/blockchain/images/blockchain-introduction.png"
                        alt="Blockchain Introduction" />
                    <h4 class="n"><span class="bold">Note:</span> A blockchain can be used for the
                        secure transfer of money, property, contracts, etc. without requiring a
                        third-party intermediary like bank or government. Blockchain is a software
                        protocol, but it could not be run without the Internet (like SMTP used in
                        email).</h4>
                    <h2 class="h2">Who uses the blockchain?</h2>
                    <p>Blockchain technology can be integrated into multiple areas. The primary use of
                        blockchains is as a distributed ledger for cryptocurrencies. It shows great
                        promise across a wide range of business applications like Banking, Finance,
                        Government, Healthcare, Insurance, Media and Entertainment, Retail, etc.</p>
                    <h2 class="h2">Need of Blockchain</h2>
                    <img src="https://static.javatpoint.com/tutorial/blockchain/images/need-of-blockchain.png"
                        alt="Blockchain Introduction" />
                    <p>Blockchain technology has become popular because of the following.</p>
                    <ul class="points">
                        <li><strong>Time reduction:</strong> In the financial industry, blockchain can
                            allow the quicker settlement of trades. It does not take a lengthy process
                            for verification, settlement, and clearance. It is because of a single
                            version of agreed-upon data available between all stakeholders.</li>
                        <li><strong>Unchangeable transactions:</strong> Blockchain register transactions
                            in a chronological order which certifies the unalterability of all
                            operations, means when a new block is added to the chain of ledgers, it
                            cannot be removed or modified.</li>
                        <li><strong>Reliability:</strong> Blockchain certifies and verifies the
                            identities of each interested parties. This removes double records, reducing
                            rates and accelerates transactions.</li>
                        <li><strong>Security:</strong> Blockchain uses very advanced cryptography to
                            make sure that the information is locked inside the blockchain. It uses
                            Distributed Ledger Technology where each party holds a copy of the original
                            chain, so the system remains operative, even the large number of other nodes
                            fall.</li>
                        <li><strong>Collaboration:</strong> It allows each party to transact directly
                            with each other without requiring a third-party intermediary.</li>
                        <li><strong>Decentralized:</strong> It is decentralized because there is no
                            central authority supervising anything. There are standards rules on how
                            every node exchanges the blockchain information. This method ensures that
                            all transactions are validated, and all valid transactions are added one by
                            one.</li>
                    </ul>

                    <p>Our Blockchain tutorial includes all the topics which help to learn Blockchain
                        Technology. These are Introduction of Blockchain, History of Blockchain, What is
                        Bitcoin, The Role of Bitcoin Miners, Hash Functions, Block Hashing, How Block
                        Hashes Work in a Blockchain, How Distributed Blockchain Works, Cryptographic
                        Hashing, Components of Bitcoin, Coinbase Transaction, Key Concepts in Bitcoin,
                        Blockchain DAO, Blockchain Limitations, Blockchain Double Spending, What is
                        Bitcoin Cash, Bitcoin Proof of Work, Merkle Tree, Who sets the bitcoin price,
                        and many more.</p>

                    <h2 class="h2">Prerequisite</h2>
                    <p>Before learning blockchain in depth, you must have the basic knowledge of
                        scripting languages such as HTML, JavaScript, and CSS.</p>

                    <h2 class="h2">Audience</h2>
                    <p>We have developed this blockchain tutorial for beginners and professionals both
                        who want to build a career around blockchain or learn the precepts of blockchain
                        in a seamless manner. There are given a lot of topics which will help you to
                        learn blockchain technology easily.</p>

                    <h2 class="h2">Problems</h2>
                    <p>We assure you that you will not find any problem with our Blockchain tutorial.
                        But, if you find any mistake, you can post it in our comment section.</p>

                    <hr />
                    <!-- link -->

                    <br /><br />
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="onlycontentinner">
    <div id="city">
        <table>
            <tr>
                <td>

                    <h1 class="h1">History of Blockchain</h1>
                    <img src="https://static.javatpoint.com/tutorial/blockchain/images/stuart-haber.png"
                        class="imageright" alt="History of Blockchain" />
                    <img src="https://static.javatpoint.com/tutorial/blockchain/images/w-scott-stornetta.png"
                        class="imageright" alt="History of Blockchain" />
                    <p>The blockchain technology was described in <strong>1991</strong> by the research
                        scientist <strong>Stuart Haber</strong> and <strong>W. Scott Stornetta</strong>.
                        They wanted to introduce a computationally practical solution for time-stamping
                        digital documents so that they could not be backdated or tampered. They develop
                        a system using the concept of <strong>cryptographically</strong> secured chain
                        of blocks to store the time-stamped documents.</p>
                    <p>In <strong>1992</strong>, Merkle Trees were incorporated into the design, which
                        makes <a href="blockchain-tutorial">blockchain</a> more efficient by allowing
                        several documents to be collected into one block. <strong>Merkle Trees</strong>
                        are used to create a 'secured chain of blocks.' It stored a series of data
                        records, and each data records connected to the one before it. The newest record
                        in this chain contains the history of the entire chain. However, this technology
                        went unused, and the patent lapsed in 2004.</p>
                    <img src="https://static.javatpoint.com/tutorial/blockchain/images/merkle-trees.png"
                        alt="History of Blockchain" />
                    <br>
                    <img src="https://static.javatpoint.com/tutorial/blockchain/images/hal-finney.png"
                        style="height:220px;" class="imageright" alt="History of Blockchain" />
                    <p>In <strong>2004</strong>, computer scientist and cryptographic activist
                        <strong>Hal Finney</strong> introduced a system called <strong>Reusable Proof Of
                            Work(RPoW)</strong> as a prototype for digital cash. It was a significant
                        early step in the history of cryptocurrencies. The RPoW system worked by
                        receiving a non-exchangeable or a non-fungible Hashcash based proof of work
                        token in return, created an <strong>RSA-signed</strong> token that further could
                        be transferred from person to person.
                    </p>
                    <p>RPoW solved the double-spending problem by keeping the ownership of tokens
                        registered on a trusted server. This server was designed to allow users
                        throughout the world to verify its correctness and integrity in real-time.</p>
                    <img src="https://static.javatpoint.com/tutorial/blockchain/images/satoshi-nakamoto.png"
                        style="height:200px;" class="imageright" alt="History of Blockchain" />
                    <p>Further, in <strong>2008</strong>, <strong>Satoshi Nakamoto</strong>
                        conceptualized the theory of <strong>distributed blockchains</strong>. He
                        improves the design in a unique way to add blocks to the initial chain without
                        requiring them to be signed by trusted parties. The modified trees would contain
                        a secure history of data exchanges. It utilizes a peer-to-peer network for
                        timestamping and verifying each exchange. It could be managed autonomously
                        without requiring a central authority. These improvements were so beneficial
                        that makes blockchains as the backbone of cryptocurrencies. Today, the design
                        serves as the public ledger for all transactions in the <a
                            href="blockchain-cryptocurrency">cryptocurrency</a> space.</p>
                    <p>The evolution of blockchains has been steady and promising. The words block and
                        chain were used separately in Satoshi Nakamoto's original paper but were
                        eventually popularized as a single word, the Blockchain, by
                        <strong>2016</strong>. In recent time, the file size of cryptocurrency
                        blockchain containing records of all transactions occurred on the network has
                        grown from <strong>20 GB</strong> to <strong>100 GB</strong>.
                    </p>

                    <hr />
                    <!-- link -->
                    <br /><br />
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="onlycontentinner">
    <div id="city">
        <table>
            <tr>
                <td>

                    <h1 class="h1">What is Bitcoin?</h1>
                    <p><strong>Satoshi Nakamoto</strong> introduced the bitcoin in the year 2008.
                        Bitcoin is a cryptocurrency(virtual currency), or a <strong>digital
                            currency</strong> that uses rules of cryptography for regulation and
                        generation of units of currency. A Bitcoin fell under the scope of <a
                            href="blockchain-cryptocurrency">cryptocurrency</a> and became the first and
                        most valuable among them. It is commonly called <strong>decentralized digital
                            currency</strong>.</p>
                    <p>A bitcoin is a type of digital assets which can be bought, sold, and transfer
                        between the two parties securely over the internet. Bitcoin can be used to store
                        values much like fine gold, silver, and some other type of investments. We can
                        also use bitcoin to buy products and services as well as make payments and
                        exchange values electronically.</p>
                    <p>A bitcoin is different from other traditional currencies such as
                        <strong>Dollar</strong>, <strong>Pound</strong>, and <strong>Euro</strong>,
                        which can also be used to buy things and exchange values electronically. There
                        are no physical coins for bitcoins or paper bills. When you send bitcoin to
                        someone or used bitcoin to buy anything, you don?t need to use a bank, a credit
                        card, or any other third-party. Instead, you can simply send bitcoin directly to
                        another party over the internet with securely and almost instantly.
                    </p>
                    <h2 class="h2">How Bitcoin Works?</h2>
                    <p>When you send an email to another person, you just type an email address and can
                        communicate directly to that person. It is the same thing when you send an
                        instant message. This type of communication between two parties is commonly
                        known as Peer-to-Peer communication.</p>
                    <p>Whenever you want to transfer money to someone over the internet, you need to use
                        a service of third-party such as banks, a credit card, a PayPal, or some other
                        type of money transfer services. The reason for using third-party is to ensure
                        that you are transferring that money. In other words, you need to be able to
                        verify that both parties have done what they need to do in real exchange.</p>
                    <p><strong>For example</strong>, Suppose you click on a photo that you want to send
                        it to another person, so you can simply attach that photo to an email, type the
                        receiver email address and send it. The other person will receive the photo, and
                        you think it would end, but it is not. Now, we have two copies of photo, one is
                        a simple email, and another is an original file which is still on my computer.
                        Here, we send the copy of the file of the photo, not the original file. This
                        issue is commonly known as the double-spend problem.</p>
                    <img src="https://static.javatpoint.com/tutorial/blockchain/images/how-bitcoin-works.png"
                        alt="Bitcoin" />
                    <p>The double-spend problem provides a challenge to determine whether a transaction
                        is real or not. How you can send a bitcoin to someone over the internet without
                        needing a bank or some other institution to certify the transfer took place. The
                        answer arises in a global network of thousands of computers called a Bitcoin
                        Network and a special type of decentralized laser technology called
                        <strong>blockchain</strong>.
                    </p>
                    <p>In Bitcoin, all the information related to the transaction is captured securely
                        by using maths, protected cryptographically, and the data is stored and verified
                        across the entire network of computers. In other words, instead of having a
                        centralized database of the third-party such as banks to certify the transaction
                        took place. Bitcoin uses <a href="blockchain-tutorial">blockchain</a> technology
                        across a decentralized network of computers to securely verify, confirm and
                        record each transaction. Since data is stored in a decentralized manner across a
                        wide network, there is no single point of failure. This makes blockchain more
                        secure and less prone to fraud, tampering or general system failure than keeping
                        them in a single centralized location.</p>

                    <hr />
                    <!-- link -->

                    <br /><br />
                </td>
            </tr>
        </table>
    </div>
</div>


<div class="onlycontentinner">
    <div id="city">
        <table>
            <tr>
                <td>

                    <h1 class="h1">Blockchain Version</h1>
                    <p>The brief description of the evolution of blockchain technology and its
                        <strong>versioning</strong> from 1.0 to 3.0 are explained below.
                    </p>
                    <img src="https://static.javatpoint.com/tutorial/blockchain/images/blockchain-version.png"
                        alt="Blockchain Version" />
                    <h2 class="h2">Blockchain 1.0: Currency</h2>
                    <p>The idea of creating money through solving computational puzzles was first
                        introduced in <strong>2005</strong> by <strong>Hal Finney</strong>, who created
                        the first concept for cryptocurrencies (The implementation of distributed ledger
                        technology). This ledger allows financial transactions based on blockchain
                        technology or DLT to be executed with <a href="bitcoin">Bitcoin</a>. Bitcoin is
                        the most prominent example in this segment. It is being used as <strong>cash for
                            the Internet</strong> and seen as the enabler of an <strong>Internet of
                            Money</strong>.</p>
                    <h2 class="h2">Blockchain 2.0: Smart Contracts</h2>
                    <p>The main issues that came with Bitcoin are wasteful mining and lack of network
                        scalability. To overcome these issues, this version extends the concept of
                        Bitcoin beyond currency. The new key concepts are Smart Contracts. It is small
                        computer programs that <strong>"live"</strong> in the <a
                            href="blockchain-tutorial">blockchain</a>. They are free computer programs
                        which executed automatically and checked conditions which are defined earlier
                        like facilitation, verification or enforcement. The big advantage of this
                        technology that blockchain offers, making it impossible to tamper or hack Smart
                        Contracts. A most prominent example is the Ethereum Blockchain, which provides a
                        platform where the developer community can build distributed applications for
                        the Blockchain network.</p>
                    <p>Quickly, the blockchain 2.0 version is successfully processing a high number of
                        daily transactions on a public network, where millions were raised through
                        <strong>ICO</strong> (Initial Coin Offerings), and the market cap increased
                        rapidly.
                    </p>
                    <h2 class="h2">Blockchain 3.0: DApps</h2>
                    <p>DApps is also known as a decentralized application. It uses decentralized storage
                        and communication. Its backend code is running on a decentralized peer-to-peer
                        network. A DApp can have <strong>frontend code</strong> hosted on decentralized
                        storages such as Ethereum Swarm and <strong>user interfaces</strong> written in
                        any language that can make a call to its backend like a traditional Apps.</p>

                    <hr />
                    <!-- link -->
                    <br /><br />
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="onlycontentinner">
    <div id="city">
        <table>
            <tr>
                <td>

                    <h1 class="h1">Blockchain Hash Function</h1>
                    <p>A hash function takes an input string (numbers, alphabets, media files) of any
                        length and transforms it into a fixed length. The fixed bit length can vary
                        (like 32-bit or 64-bit or 128-bit or 256-bit) depending on the hash function
                        which is being used. The fixed-length output is called a hash. This hash is also
                        the cryptographic byproduct of a hash algorithm. We can understand it from the
                        following diagram.</p>
                    <img src="https://static.javatpoint.com/tutorial/blockchain/images/blockchain-hash-function.png"
                        alt="Blockchain Hash Function" />
                    <p><strong>The hash algorithm has certain unique properties:</strong></p>
                    <ol class="points">
                        <li>It produces a unique output (or hash).</li>
                        <li>It is a one-way function.</li>
                    </ol>
                    <p>In the context of cryptocurrencies like <a href="bitcoin">Bitcoin</a>, the
                        blockchain uses this cryptographic hash function's properties in its consensus
                        mechanism. A cryptographic hash is a digest or digital fingerprints of a certain
                        amount of data. In cryptographic hash functions, the transactions are taken as
                        an input and run through a hashing algorithm which gives an output of a fixed
                        size.</p>
                    <h2 class="h2">SHA-256</h2>
                    <p>A Bitcoin's blockchain uses SHA-256 (Secure Hash Algorithm) hashing algorithm. In
                        2001, SHA-256 Hashing algorithm was developed by the National Security Agency
                        (NSA) in the USA.</p>
                    <h2 class="h2">How does the hashing process works?</h2>
                    <p>For this hash function, we are going to use a program developed by Anders
                        Brownworth. This program can be found in the below link.</p>
                    <p><strong>Anders Brownworth Hash Program:</strong> <a
                            href="https://anders.com/blockchain/hash.html" rel="nofollow"
                            target="_blank">https://anders.com/blockchain/hash.html</a></p>
                    <img src="https://static.javatpoint.com/tutorial/blockchain/images/sha256-hash.png"
                        alt="Blockchain Hash Function" />
                    <p>If we type any character in the data section, we will observe its corresponding
                        cryptographic hash in the hash section.</p>
                    <p><strong>For example:</strong> We have type in data section: <strong>This is a
                            great tutorial</strong>.</p>
                    <p>It will generate the corresponding Hash:</p>
                    <div class="codeblock"><textarea name="code" class="java">
759831720aa978c890b11f62ae49d2417f600f26aaa51b3291a8d21a4216582a
</textarea></div>
                    <br>
                    <img src="https://static.javatpoint.com/tutorial/blockchain/images/sha256-hash2.png"
                        alt="Blockchain Hash Function" />
                    <br>
                    <p>Now if we change the text: "<strong>This is a great tutorial</strong>." To
                        "<strong>this is a great tutorial</strong>."</p>
                    <p>You will find the corresponding Hash:</p>
                    <div class="codeblock"><textarea name="code" class="java">
4bc35380792eb7884df411ade1fa5fc3e82ab2da76f76dc83e1baecf48d60018
</textarea></div>
                    <p>In the above, you can see that we have changed only the first character case
                        sentence from capital "T" to small "t" and it will change the whole Hash value.
                    </p>
                    <h4 class="n"><span class="bold">Note:</span> If we write the same text again in a
                        data section, it will always give the same output. It is because you are
                        creating a message digest of that one's specific amount of data.</h4>
                    <p>Since the Hash function is a one-way function, there is no way to get back entire
                        text from the generated hash. This is different from traditional cryptographic
                        functions like encryption where you can encrypt something using the key and by
                        using decryption, you can decrypt the message to its original form.</p>

                    <hr />
                    

                    <br /><br />
                </td>
            </tr>
        </table>
    </div>
</div>

  

</body>

</html>
{% endblock %}