{% extends "bloglayout.html" %} {% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Hai, my name is Jatin Kumar and this blog is part of the website which I developed as a final year project for my graduation. I am a computer science student in Lovely Professional University, Phagwara Punjab. I did the development and deployment work on this website. Hope you like it.</p>
            <p>E-Learning is the process of using technology to assist learning and tutoring. Enhancement in how the Internet works has
            allowed websites to deliver a visual and immersive learning experience on a computer or mobile device, perfect for
            stimulating a student and encouraging learning.</p>
            <p>
            Explore more if you want to learn more.This website is designed to help students learn and grow in the best way
            possible.
            One of the most important areas we can develop as professionals is competence in accessing and sharing knowledge.
            </p>
            <p>
            Courses available for Computer Science Students.
            Login and create your account to keep a track of your learning.
            E-Learning is changing. And, we will see new models, new technologies and designs emerge. So, let’s drop the “E” – or at
            least give it a new and wider definition.
            This website was a project from Computer Science Grads. To know more visit our social media links in the footer.</p>
        </div>
    </div>
</div>

{% endblock %}