{% extends "bloglayout.html" %} {% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>GrepLearn-Blog</h1>
                    <span class="subheading">A Blog for everyone around the globe.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            {% for post in posts %}        
                <div class="post-preview">
                    <a href="/post/{{ post[3] }}">
                        <h2 class="post-title"> {{ post[1] }}   </h2>
                        <h3 class="post-subtitle"> {{ post[2] }}   </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">Admin</a> on {{ post[5] }}</p>
                </div>
                <!-- Content -->
                {{ post[4][0:120] }}...
                <hr>
            {% endfor %}
            
            
        </div>
    </div>
</div>
{% endblock %}