<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>GrepLearn-Official</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{url_for('static', filename='assets/img/favicon.png')}}" rel="icon">
    <link href="{{url_for('static', filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/vendor/icofont/icofont.min.css')}} " rel="stylesheet">
    <link href="{{url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/vendor/owl.carousel/assets/owl.carousel.min.css')}}"
        rel="stylesheet">
    <link href="{{url_for('static', filename='assets/vendor/animate.css/animate.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{url_for('static', filename='assets/css/style.css')}}" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo mr-auto"><a href="/">GrepLearn</a></h1>


            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/courses">Courses</a></li>
                    <li><a href="/trainers">Trending</a></li>
                    <li><a href="/blogindex">Blog</a></li>
                    <li><a href="/notes">Notes</a></li>
                    <li class="drop-down"><a href="">Links</a>
                        <ul>
                            <li><a href="/c++home">C++</a></li>
                            <li class="drop-down"><a href="#">Trending Tech</a>
                                <ul>
                                    <li><a href="/awshome">AWS</a></li>
                                    <li><a href="/git">GIT</a></li>
                                    <li><a href="/reactjs">React JS</a></li>
                                    <li><a href="/angular7">Angular 7</a></li>
                                    <li><a href="/blockchain">Block Chain</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="/pythonhome">Python</a></li>
                            <li><a href="/flaskhome">Flask</a></li>
                            <li><a href="/javahome">Java</a>
                            </li>
                        </ul>
                    </li>
                    {% if 'user_id' in session %}
                    <li class="drop-down"><a href="">{{user}}</a>
                        <ul>
                        <li><a href="/myprofile">My Profile</a></li>
                        <li><a href="/contact">Contact US</a></li>
                        <li><a href="/updateprofile">Update Profile</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="/contact">Contact Us</a></li>
                    {% endif %}
                    

                </ul>
            </nav>
            <!-- .nav-menu -->
            {% if 'user_id' in session %}
            <a href="/logout" class="get-started-btn">Logout</a>
            {% else %}
            <a href="/login" class="get-started-btn">Login/SignUp</a>
            {% endif %}
        </div>
    </header>
    <!-- End Header -->


<!-- Flashing messages using Flask -->
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
{% if messages %}
{% for category, msg in messages %}
{%if category=='success'%}
<div class="alert alert-success mb-3" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button> {{msg}}
</div>
{% endif %}
{%if category=='error'%}
<div class="alert alert-danger mb-3" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button> {{msg}}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}
<!-- end of message flashing  -->



    {% block body %} {% endblock %}




    <!-- Google Language Translater -->
    <div id="google_translate_element"></div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>

    <!-- End Language Translater -->


    <!-- ======= Footer ======= -->
    <div class="foot">
        <footer id="footer">

            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h3>GrepLearn</h3>
                            <p>
                                144001,LPU<br> India, Phagwara<br> Punjab<br><br>
                                <strong>Phone:</strong> +91 9781639191<br>
                                <strong>Email:</strong> jerrybusiness55@gmail.com<br>
                            </p>
                        </div>

                        <div class="col-lg-2 col-md-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/">Services</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/tos">Terms of service</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/privacypolicy">Privacy policy</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Our Services</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="/courses">Web Design</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/courses">Web Development</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/courses">Trending Technology</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/courses">Programming Languages</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/blogindex">Blogging</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-4 col-md-6 footer-newsletter">
                            <h4>Join Our Newsletter</h4>
                            <p>Follow, Like and Subscribe for regular Updates.</p>
                            <form action="" method="post">
                                <input type="email" name="email"><input type="submit" value="Subscribe">
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container d-md-flex py-4">

                <div class="mr-md-auto text-center text-md-left">
                    <div class="copyright">
                        &copy; Copyright <strong><span>GreapLearn</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
                        Designed by <strong><span>Jatin Kumar</span></strong>
                    </div>
                </div>
                <div class="social-links text-center text-md-right pt-3 pt-md-0">
                    <a href="https://twitter.com/JatinKu18499541" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="https://www.facebook.com/GreapLearn-100905772159334" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="https://www.instagram.com/greplearn/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="https://secure.skype.com/portal/overview" target="_blank" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="https://www.linkedin.com/company/greaplearn" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>
        </footer>
    </div>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{{url_for('static', filename='assets/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendor/waypoints/jquery.waypoints.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendor/counterup/counterup.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendor/owl.carousel/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>

    <!-- Template Main JS File -->
    <script src="{{url_for('static', filename='assets/js/main.js')}}"></script>

</body>

</html>