{% extends "layout.html" %} {% block body %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Notes</h2>
            <p>Please download the notes from the links given below. The best way to learn is to share the knowledge you have. It's free and always will be. </p>
        </div>
    </div>
    <!-- End Breadcrumbs -->


    <!-- ======= Notes Section ======= -->
      
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">
            <br>
            <div class="section-title">
                <h2>Handwritten Notes</h2>
                <p>Computer Science</p>
            </div>
    
            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-lg-3 col-md-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="emojione:computer-disk" height=30px data-inline="false"></span>
                        <h3><a href="https://drive.google.com/open?id=0B00XdOI-vI1nQ1l3OTVMN2ZveWc" target="_blank"> Compiler Design</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                        <span class="iconify" data-icon="whh:network" height=30px data-inline="false"></span>
                        <h3><a href="https://drive.google.com/open?id=0B00XdOI-vI1nWjdVdTVFekgzYkk" target="_blank"> Computer Network</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                        <span class="iconify" data-icon="octicon:organization-24" height=30px data-inline="false"></span>
                        <h3><a href="https://drive.google.com/open?id=0B00XdOI-vI1nZGo2OW1KY3FHblE" target="_blank">Computer Organization</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <span class="iconify" data-icon="flat-color-icons:tree-structure" height=30px data-inline="false"></span>
                        <h3><a href="https://drive.google.com/open?id=0B00XdOI-vI1nOUQtWVBTMkRYa0E" target="_blank">Data Structure</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="bx:bxs-data" height=30px data-inline="false"></span>
                        <h3><a href="https://drive.google.com/open?id=0B00XdOI-vI1nRE4tTk9xTXBYaWM" target="_blank">DBMS</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="whh:algorhythm" height=30px data-inline="false"></span>
                        <h3><a href="https://drive.google.com/open?id=0B00XdOI-vI1nalY3bUdsLUZyaVE" target="_blank">Algorithms</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="mdi:gate-xor" height=30px data-inline="false"></span>
                        <h3><a href="https://drive.google.com/open?id=0B00XdOI-vI1nMWpIUUx0MTUtYWc" target="_blank">Digital Logic</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="openmoji:windows" height=30px data-inline="false"></span>
                        <h3><a href="https://drive.google.com/open?id=0B00XdOI-vI1nMGp5dHM3R1Y4ejg" target="_blank">Operating System</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="twemoji:computer-disk" height=30px data-inline="false"></span>
                        <h3><a href="https://drive.google.com/open?id=0B00XdOI-vI1nWmNJeklwb3VuNW8" target="_blank">Theory of Computation</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="flat-color-icons:android-os" height=40px data-inline="false"></span>
                        <h3><a href="https://drive.google.com/file/d/1MLyJ8HnrGUTqFUpJo6kp9eKNS0NdOjVZ/view" target="_blank">Android</a></h3>
                    </div>
                </div>
            </div>
    
        </div>
    </section>
    <!-- End Notes Section -->

</main>
<!-- End #main -->
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

{% endblock %}