{% extends "layout.html" %} {% block body %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Terms of Service</h2>
            <p>The following terms and conditions (“TOS”) govern all use of the greaplearn.com website
            (“Website”) and all content, services and products available at or through the Website (“Services”). </p>
        </div>
    </div>
    <!-- End Breadcrumbs -->


    <!-- Main Body Section   -->
    <div class="u-boxed">
        <div class="u-padded">
            <div class="page-content page-content--padded entry-content ">
                <p><b>1. Terms of Service</b></p>
                <p>The following terms and conditions (“TOS”) govern all use of the elearninginfographics.com website
                    (“Website”) and all content, services and products available at or through the Website (“Services”).
                    The Website is owned and operated by ELEARNING INDUSTRY LLC (“elearning industry”). Our Services are
                    offered subject to your acceptance without modification of all of the terms and conditions contained
                    herein and all other operating rules, policies and procedures that may be published from time to
                    time on this site by elearning industry.</p>
                <p>Please read the TOS carefully before accessing our Website or using our Services. By accessing or
                    using any part of the Website, you agree to become bound by the TOS. If you do not agree to all the
                    TOS, then you may not access the Website or use any Services.</p>
                <p><b>2. Your elearning industry Account</b></p>
                <p>A member account (“Account”) is the area in our Website which is accessible via a password and
                    contains personal information regarding the user. If you create an Account on the Website, you are
                    responsible for maintaining the security of your Account and fully responsible for all activities
                    that occur under the Account and any other actions taken in connection with the Account. You must
                    immediately notify elearning industry of any unauthorized uses of your Account or any other breaches
                    of security. Elearning industry will not be liable for any acts or omissions by you, including any
                    damages of any kind incurred as a result of such acts or omissions. Registration of a member implies
                    providing a valid e-mail address for the communication between elearning industry and the member and
                    a valid name.<b> </b></p>
                <p><b>3. Responsibility of Website Visitors</b></p>
                <p>Elearning industry cannot review all of the material posted to the Website and cannot therefore be
                    responsible for that material’s content, use of effects. By operating the Website, elearning
                    industry does not represent or imply that it endorses the material there posted, or that it believes
                    such material to be accurate, useful or non-harmful. You are responsible for taking precautions as
                    necessary to protect yourself and your computer systems from viruses, worms, Trojan horses and other
                    harmful or destructive content. The Website may contain content that is offensive, indecent or
                    otherwise objectionable, as well as content containing technical inaccuracies, typographical
                    mistakes, and other errors. The Website may also contain material that violates the privacy or
                    publicity rights, or infringes the intellectual property and other proprietary rights, of third
                    parties, or the downloading, copying or use of which is subject to additional terms and conditions,
                    stated or unstated. Elearning industry disclaims any responsibility for any harm resulting from the
                    use by visitors of the Website, or from any downloading by those visitors of content there posted.
                </p>
                <p><b>4. Content Posted on Other Websites</b></p>
                <p>We have not reviewed, and cannot review, all of the material made available through the websites and
                    webpages to which elearninginfographics.com links, and that link to elearninginfographics.com.
                    Elearning industry does not have any control over those non-elearning websites or webpages and is
                    not responsible for their contents of their use. By linking to a non-elearning website or webpage,
                    elearning industry does not represent or imply that it endorses such website or webpage.<b> </b></p>
                <p><b>5. Postings</b></p>
                <p>The purpose of the Website is to create an online community of professionals involved in the
                    e-learning industry who would like to publish content related to e-learning (“Owners”) and of people
                    who want to have access to this content (“Users”). Also, elearning industry promotes through the
                    Website software and other services related to e-learning.</p>
                <p><b><i> </i></b></p>
                <p><b><i>a) Your Post</i></b></p>
                <p>The Owners should post content related to the following topics:</p>
                <ul>
                    <li>Preschool Infographics</li>
                    <li>K12 Infographics</li>
                    <li>Higher Education Infographics</li>
                    <li>Continuing Education Infographics</li>
                    <li>Special Education Infographics</li>
                    <li>Adult Education Infographics</li>
                    <li>Distance Education Infographics</li>
                    <li>Educational Technology Infographics</li>
                    <li>eLearning Infographics</li>
                    <li>Instructional Design Infographics</li>
                </ul>
                <p>Owners’ posts will be shared at the following social media: linkedin, facebook, twitter and google+.
                    Owners must be the copyright owners of their posts. Owners can publish their post in their own
                    blogs, websites and social media only after posting them at elearning industry. Elearning industry
                    shall not accept already published posts. Elearning industry shall not accept posts that have a
                    solely promotional purpose. All posts are unpaid. After Owners’ posts are accepted by elearning
                    industry, Owners shall be featured to the elearning industry.</p>
                <p><b><i>b) Responsibility &amp; Rights of elearning industry</i></b></p>
                <p>Elearning industry is not responsible for:</p>
                <ul>
                    <li>The quality or legality of posts;</li>
                    <li>The truthfulness or accuracy of the information published by the Owner;</li>
                    <li>The infringement of any intellectual property rights by the Owner.</li>
                </ul>
                <p>However, elearning industry has the right to:</p>
                <ul>
                    <li>Publish all or part of content of the posts for commercial means on third – party websites;</li>
                    <li>Edit the content of the posts;</li>
                    <li>Send special offers to its registered members;</li>
                    <li>Send newsletters to its registered members;</li>
                    <li>Use the information and data from its registered members within its e-learning ecosystem which
                        includes:</li>
                    <li>Promote its e-learning ecosystem to its registered members.</li>
                </ul>
                <ul>
                    <ul>
                        <li> eLearningIndustry.com</li>
                        <li>VivaeLearning.com</li>
                        <li>eLearning-Weekly.com</li>
                        <li>eLearningTags.com</li>
                        <li>eLearningFeeds.com</li>
                        <li>eLearningJobs.com</li>
                    </ul>
                </ul>
                <p><b><i>c) Responsibility of the Owner</i></b></p>
                <p>The Owner of the content posted on the Website must either own it or lawfully allowed to post it. The
                    Owner guarantees that he or she possesses all the intellectual property rights on the content of the
                    post. The Owner accepts to provide his e-mail address, which is required by elearning industry upon
                    registration of elearning industry Account.</p>
                <p><b>6) Free Usage</b></p>
                <p>Access, registration and usage of the Website are free. Posts by the Owners are unpaid.<b> </b></p>
                <p><b>7) Disclaimer of Warranties</b></p>
                <p>The Website is provided “as is”. Elearning industry disclaims all warranties of any kind, express or
                    implied, including without limitation, the warranties of merchantability, fitness for a particular
                    purpose and non-infringement of proprietary rights. To the fullest extent permitted by law,
                    elearning industry disclaims any warranties for viruses and other harmful components in connection
                    with the Website.<b> </b></p>
                <p><b>8) Limitation of Liability</b></p>
                <p>In no event will elearning industry be liable with respect to any subject matter of the TOS under any
                    contract, negligence, strict liability or other legal or equitable theory for (i) any special,
                    incidental or consequential damages resulting from the use of the Website and/or (ii) for
                    interruption of use or loss or corruption of data. Elearning industry shall have no liability for
                    any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply
                    to the extent prohibited by applicable law.<b> </b></p>
                <p><b>9) Indemnification</b></p>
                <p>You agree to indemnify and hold harmless elearning industry, its contractors, and its licensors, and
                    their respective directors, officers, employees and agents from and against any and all claims and
                    expenses including attorneys’ fees, arising out of your use of the Website, including but not
                    limited to your violation of the TOS.<b> </b></p>
                <p><b>10) Copyright Infringement</b></p>
                <p>As elearning industry asks others to respect its intellectual property rights, it respects the
                    intellectual property rights of others. If you believe that material located on or linked to by
                    elearning industry violates your copyright, you are encouraged to notify elearning industry.
                    Elearning industry will respond to all such notices, including as required or appropriate by
                    removing the infringing material or disabling all links to the infringing material. Elearning
                    industry will terminate a visitor’s access to and use of the Website if, under appropriate
                    circumstances, the visitor is determined to be a repeat infringer of the copyrights or other
                    intellectual property rights of elearning industry or others.<b> </b></p>
                <p><b>11) Intellectual Property</b></p>
                <p>The TOS do not transfer from elearning industry to you any elearning industry or third party
                    intellectual property, and all right, title and interest in and to such property will remain (as
                    between the parties) solely with elearning industry.  Elearning Industry, the elearning industry
                    logo, and all other trademarks, service marks, graphics and logos used in connection with the
                    Website are trademarks of Elearning Industry LLC or elearning industry’s licensors. Other
                    trademarks, service marks, graphics and logos used in connection with the Website may be the
                    trademarks of other third parties. Your use of the Website grants you no right or license to
                    reproduce or otherwise use any elearning industry or third-party trademarks.<b> </b></p>
                <p><b>12) Modifications</b></p>
                <p>Elearning industry reserves the right, at its sole discretion, to modify or replace any part of the
                    TOS. It is your responsibility to check the TOS periodically for changes. Your continued use of or
                    access to the Website following the posting of any changes to the TOS constitutes acceptance of
                    those changes. Elearning industry may also, in the future offer new services and / or features
                    through the Website. Such new features and/or services shall be subject to the TOS.<b> </b></p>
                <p><b>13) Termination</b></p>
                <p>Elearning industry may terminate your access to all or any part of the Website at any time, with or
                    without cause, with or without notice, effective immediately. If you wish to terminate this
                    Agreement or your elearningindustry.com Account (if you have one), you may simply discontinue using
                    the Website. Notwithstanding the foregoing, elearning industry can terminate your Account if you
                    materially breach the TOS and fail to cure within thirty (30) days from elearning industry’s notice
                    to you thereof; provided that, elearning industry can terminate the Website immediately as part of a
                    general shut down of our Services. All provisions of the TOS which by their nature should survive
                    termination shall survive termination, including, without limitation, ownership provisions, warranty
                    disclaimers, indemnity and limitations of liability.<b> </b></p>
                <p><b>14) Applicable Law</b></p>
                <p>The present TOS are in conformity with US law. The country of the user and/or the country of the
                    member with whom he or she is dealing with may have applicable laws in regard to their transactions
                    with other users that may be independent of the agreements made with elearning industry in the TOS,
                    or with the user later on. All litigation with regards to the validity, interpretation, or execution
                    of the present TOS will be governed by the laws of the State of Delaware, US. The proper venue for
                    any disputes arising out of or relating to any of the same will be the State and Federal Courts
                    located in San Francisco, California.</p>
                <p><b>15) Arbitration</b></p>
                <p>Any dispute arising under this Agreement, it shall be resolved by arbitration by a single Arbitrator
                    in San Francisco, California in accordance with the then current rules of the American Arbitration
                    Association.  In the event that any party fails to submit any dispute arising from this agreement to
                    mediation first, or fails to meaningfully participate in mediation, that party will not be entitled
                    to attorney’s fees as provided in this paragraph.  Any judgment upon the award entered by the
                    arbitrator may be entered in any Court having jurisdiction. Costs of arbitration, including
                    reasonable attorney's fees incurred in arbitration as determined by the Arbitrator, together with
                    any reasonable attorney's fees incurred by prevailing party in Court enforcement of the arbitration
                    award after it is rendered by the Arbitrator, shall be paid to the prevailing party by the party
                    designated by the Arbitrator or Court.<b> </b></p>
                <p><b>16) Miscellaneous</b></p>
                <ul>
                    <li>This Agreement constitutes the entire agreement between elearning industry and you concerning
                        the subject matter hereof.</li>
                    <li>If any part of this Agreement is held invalid or unenforceable, that part will be construed to
                        reflect the parties’ original intent, and the remaining portions will remain in full force and
                        effect.</li>
                    <li>A waiver by either party of any term or condition of this Agreement or any breach thereof, in
                        any one instance, will not waive such term or condition or any subsequent breach thereof.</li>
                    <li>You may assign your rights under this Agreement to any party that consents to, and agrees to be
                        bound by, its terms and conditions.</li>
                    <li>This Agreement will be binding upon and will inure to the benefit of the parties, their
                        successors and permitted assigns.</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Main Body Section  -->

<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

{% endblock %}
  