{% extends "layout.html" %} {% block body %}

<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>Technology</h2>
            <p>This page contains information about the technology used in development and deployment of this website. Feel free to look around and explore as much as you can. This website is a service not only to students but to anyone who wants to learn and grow. </p>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">
    
            <div class="section-title">
                <h2>Technology</h2>
                <p>Technology Used in Website</p>
            </div>
    
            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="{{url_for('static', filename='assets/img/trainers/Flask.jpg')}}" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4>Flask</h4>
                            <span>Web Development</span>
                            <p>
                                Flask is a micro web framework written in Python. It is classified as a microframework
                                because it does not require
                                particular tools or libraries.
                            </p>
                            <div class="social">
                                <a href="https://twitter.com/FlaskPython" target="_blank"><i class="icofont-twitter"></i></a>
                                <a href="https://www.facebook.com/groups/178610848947061" target="_blank"><i class="icofont-facebook"></i></a>
                                <a href="https://www.instagram.com/flask_python/?hl=en" target="_blank"><i class="icofont-instagram"></i></a>
                                <a href="https://www.linkedin.com/learning/topics/flask" target="_blank"><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="{{url_for('static', filename='assets/img/trainers/Cloudflare.jpg')}}" class="img-fluid"
                            alt="">
                        <div class="member-content">
                            <h4>Cloudflare</h4>
                            <span>Security purposes</span>
                            <p>
                                Cloudflare, Inc. is an American web infrastructure and website security company. It provides
                                many services.
                            </p>
                            <div class="social">
                                <a href="https://twitter.com/Cloudflare" target="_blank"><i class="icofont-twitter"></i></a>
                                <a href="https://www.facebook.com/Cloudflare/" target="_blank"><i class="icofont-facebook"></i></a>
                                <a href="https://www.instagram.com/cloudflare/?hl=en" target="_blank"><i class="icofont-instagram"></i></a>
                                <a href="https://www.linkedin.com/company/cloudflare/" target="_blank"><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="{{url_for('static', filename='assets/img/trainers/AWS.jpg')}}" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4>Amazon Web Services</h4>
                            <span>AWS for Deployment</span>
                            <p>
                                Amazon Web Services is a subsidiary of Amazon providing on-demand cloud computing platforms
                                and APIs to individuals.
                            </p>
                            <div class="social">
                                <a href="https://twitter.com/awscloud" target="_blank"><i class="icofont-twitter"></i></a>
                                <a href="https://www.facebook.com/amazonwebservices/" target="_blank"><i class="icofont-facebook"></i></a>
                                <a href="https://www.instagram.com/amazonwebservices/?hl=en" target="_blank"><i class="icofont-instagram"></i></a>
                                <a href="https://www.linkedin.com/company/amazon-web-services/" target="_blank"><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </div>
    </section>
    <!-- End Trainers Section -->

</main>
<!-- End #main -->
{% endblock %}