{% extends "layout.html" %} {% block body %}

<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>Trending Technology</h2>
            <p>Technology trend awareness as a skill refers to being mindful of the technology that is recently becoming popular and is
            readily accepted in the market or industry. It also encompasses one’s ability to recognize and understand the usefulness
            of any such technology for the success of his business. </p>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">
            <br>
            <div class="section-title">
                <h2>Links</h2>
                <p>Trending Tech</p>
            </div>
    
            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-lg-3 col-md-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="logos:flask" height=33px data-inline="false"></span>
                        <h3><a href="/flaskhome"> Flask</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                        <span class="iconify" data-icon="logos:git-icon" data-inline="false" height=30px></span>
                        <h3><a href="/git"> Git</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                        <span class="iconify" data-icon="vscode-icons:file-type-python" height=30px
                            data-inline="false"></span>
                        <h3><a href="/pythonhome">Python</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <span class="iconify" data-icon="logos:android-icon" height=30px data-inline="false"></span>
                        <h3><a href="">Android</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="logos:bash-icon" height=30px data-inline="false"></span>
                        <h3><a href="">Bash</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="logos:flutter" height=30px data-inline="false"></span>
                        <h3><a href="">Flutter</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="vscode-icons:file-type-reactjs" height=30px
                            data-inline="false"></span>
                        <h3><a href="/reactjs">ReactJS</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="vscode-icons:file-type-ai" height=30px data-inline="false"></span>
                        <h3><a href="">Artificial Intelligence</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="logos:javascript" height=30px data-inline="false"></span>
                        <h3><a href="">Javascript</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="logos:jquery-mobile" height=30px data-inline="false"></span>
                        <h3><a href="">jQuerry</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="logos:bootstrap" height=30px data-inline="false"></span>
                        <h3><a href="">Bootstrap</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="logos:wordpress-icon" height=30px data-inline="false"></span>
                        <h3><a href="">Wordpress</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="logos:aws" height=30px data-inline="false"></span>
                        <h3><a href="/awshome">AWS</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="logos:html-5" height=30px data-inline="false"></span>
                        <h3><a href="">HTML</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="logos:css-3" height=30px data-inline="false"></span>
                        <h3><a href="">CSS</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <span class="iconify" data-icon="logos:angular-icon" height=30px data-inline="false"></span>
                        <h3><a href="/angular7">Angular-7</a></h3>
                    </div>
                </div>
    
    
            </div>
    
        </div>
    </section>
    <!-- End Features Section -->

</main>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<!-- End #main -->
{% endblock %}